footer{
        padding: 20px;
        display: grid;
        grid-template-columns: 4fr 2fr 4fr;
        grid-template-areas: "siguenos contactanos revista ";
        box-shadow: -1px -1px 2px 0px rgba(140,140,140,1);
}
footer .icons-redes img{
        margin-top: 10px;
        width: 25px;
}
footer .copyright{
        display: inline-block;
        width: 100%;
        text-align: center;
        grid-column:1/4
}
.redes-sociales{
       grid-area: siguenos; 
}
.contacto{
        grid-area:contactanos;
}
.sub{
        grid-area: revista;
}
.item-footer{
        margin: 10px;
}
.item-footer .title{
        font-weight: 800;
}
.form-sub input{
        display: inline-block;
     
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
}
.form-sub button{
        display:inline-block;
        border: 0;
        width: 40%;
        padding: 10px;
        background-color: black;
        color: white;
}
@media only screen and (max-width: 900px) {
        footer{
                grid-template-columns: 100%;
                grid-template-areas: "siguenos" "contactanos" "revista ";
        }
    }