.first{
    background-image: url('http://content.web-repository.com/s/4292247090603915/uploads/Images/shutterstock_532662658-0642872.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.first .contend{
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: "about form";
}
.about-course{
    background-color: white;
    grid-area: about;
    padding: 45px;
}
.container-form-contact{
    padding: 45px;
    grid-area:form;
    display: grid;
    background-color: rgba(255, 255, 255, 0.5683060109289617);
}
.container-form-contact form{
    align-self: center;
}
.container-form-contact form .container-input{
    padding: 10px;
    margin-bottom: 15px;
    width: calc(100% - 22px);
    border: solid 0.5px black;
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-areas: "icon input";
    background-color: white;
}
.container-input input{
    border: none;
    display: block;
    grid-area: input;
    font-family: 'Lato', sans-serif;
    outline: none;
}
.container-input span{
    display: block;
    grid-area: icon;
}
.container-form-contact form button{
    border: none;
    background-color:rgba(226, 80, 65, 1);
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    width: 100%;
}
.container-form-contact form button:hover{
    background-color: rgba(226, 80, 65, 0.8);
    cursor: pointer;
}

.second{
    padding: 45px;
}
.grid-for-items{ 
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
.second .contend .item{
    color: #696969;
    margin: 10px;
}
.second .contend .material-icons{
    font-size:120px;
    text-align: center;
    display: block;
    margin: auto;
    color: #424242 !important;
}
.second .contend .item .title{
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.second .contend .item ul{
    line-height: 1.5;
    margin-left: -25px;
}

@media only screen and (max-width: 900px) {
    .first .contend{
        grid-template-columns: 100%;
        grid-template-areas: "about""form";
    }
    .about-course{
        padding: 10px;
    }
    .container-form-contact{
        padding: 10px;
    }
    .second{
        padding: 10px;
    }
    #logo{
        margin: auto;
    }
}