#menusito{
    background-color: white;
    z-index: 10;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: 50px;
    bottom: 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.36);
}
#menusito div{
    width: 30px;
    height:30px;
    margin: auto;
    align-self: center;
}
#btnHome{
    color: rgb(26, 115, 232);
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px !important;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    color: gray;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .material-icons:hover{
      cursor: pointer;
  }